body{
    font-family: "Poppins", sans-serif;
}
/* <!-- Start navbar --> */

.navbar{
    background-color: #ffffff00 !important;
    padding: 15px 0 !important;
    align-items: center;
}
.navbar .nav-item{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar .nav-item .nav-link{
    font-size: 17px;
    font-weight: 400;
    color: #212832;
    margin: 0 20px;
    transition: all .4s ease-in-out;
}
.navbar .nav-item .nav-link:hover{
    color: #029BC5;
}

.navbar .main-button{
    text-decoration: none;
    color: #212832;
    font-size:17px ;
    font-weight: 500;
    padding: 10px 20px;
    display: inline-block;
}
.login-btn{
    margin-left: 30px;

}
.sign-btn{
    border: 1px solid #212832 ;
    border-radius: 5px;
}
/* <!-- End navbar --> */

/* <!-- start 1st sec  --> */
.bg-img{
    background-image: url('images/Decore.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   margin-top: -130px;
}
.bgg{
    z-index: 1;
}
.mt-20{
    margin-top: 20px;
}
.pt-50{
    padding-top: 150px;
}
/* .hero{
} */
.hero span{
    color:#DF6951 ;
    font-size: 20px;
    font-weight: 700;
}
.main-heading{
    color: #181E4B;
    font-size: 80px;
    font-weight: 700;   
}
.f-para{
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
}
.find-btn{
    background-color: #F1A501;
    text-decoration: none;
    color: #FFFFFF;
    font-size:18px ;
    font-weight: 500;
    padding: 15px 19px 22px 34px;
    display: inline-block;
    border-radius: 10px;
}
.demo{
    display: flex;
    align-items: center;
}
.tra{
    width: 100%;
    }
.dots{
    position: relative;
}

.plane1{
    position: absolute;
    top: 10px;
    left: 20px;
}
.plane2{
    position: absolute;
    top: 50px;
    right: -45px;
}

/* 1st Sect Reponsive hero */
@media (max-width:1350px) {

.hero span{
    font-size: 20px;
    font-weight: 700;
}
.main-heading{
    font-size: 70px;
     
}
.f-para{
    font-size: 15px;
}
.find-btn{
    font-size:18px ;
    font-weight: 500;
    padding: 15px 19px 22px 34px;
    
}
.plane1{
    position: absolute;
    top: 10px;
    left: -20px;
}
.plane2{
    position: absolute;
    top: 40px;
    right: -40px;
}
}
@media (max-width:1280px) {
.hero span{
    font-size: 20px;
}
.main-heading{
    font-size: 65px;
     
}
.f-para{
    font-size: 15px;
}
.find-btn{
    font-size:18px ;
    padding: 13px 17px 20px 30px;
}

.plane2{
    position: absolute;
    top: 10px;
    right: -50px;
}
}
@media (max-width:1024px){
    .hero span{
        font-size: 18px;
    }
    .main-heading{
        font-size: 60px;
         
    }
    .f-para{
        font-size: 14px;
    }
    .find-btn{
        font-size:16px ;
        padding: 13px 17px 20px 30px;
    }
    .plane1{
        top: 10px;
        left: -50px;
    }
    .plane2{
        top: 10px;
        right: -60px;
    }
    }

@media (max-width:980px) {
    .main-heading{
        font-size: 50px;
    }
    .f-para{
        font-size: 12px;   
    }
    .find-btn{
        font-size:14px ;
        padding: 12px 15px 17px 28px;  
    }
    .hero span{
        font-size: 18px;
    }
    .plane2{
        top: 40px;
        right: -26px;
    }

}
@media (max-width:780px) {
    .main-heading{
        font-size: 40px;
        
    }
    .f-para{
        font-size: 10px;   
    }
    .find-btn{
        font-size:12px ;
        padding: 10px 14px 15px 25px;  
    }
    .hero span{
        font-size: 16px;
    }
    .plane1{
        
        top: 10px;
        left: -30px;
    }
    .plane2{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
@media (max-width:480px) {
    .main-heading{
        font-size: 35px;
        color: rebeccapurple;
    }
    .f-para{
        font-size: 9px;   
    }
    .find-btn{
        font-size:10px ;
        padding: 9px 13px 14px 24px;  
    }
    .hero span{
        font-size: 16px;
    }
    .plane1{
        
        top: -40px;
        left: -35px;
    }
    .plane2{
        position: absolute;
        top: 0px;
        right: -20px;
    }
}

/* Start 2nd section */
.category{
    margin-bottom: 100px;
}
.heading-category{
    color: #5E6282;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 70px;
}
.heading-best{
    color: #14183E;
    font-size: 50px;
    font-family: 'poppins';
    margin-bottom: 70px;
    font-weight: 700;
}
.category .category-box{
    text-align: center;
    padding:26px 13px 16px 12px;
    width: 310px;
    max-height: 340px;
}
.category-box h3{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    margin: 60px 0px 15px 0px;
}
.category-box p{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    max-width: 192px;
    margin: 0 auto;
}
.category .category-box:hover{
    background-color: #FFFFFF;
    border-radius: 36px;
    box-shadow: 0px 2px 8px -4px ;
}
.category .box1:hover::before{
    visibility: visible; 
}
.category .box1::before{
    width: 100px;
    height: 100px;
    content: "";
    background-image: url('images/Rectangle 157.png');
    background-repeat: no-repeat;
    position: relative;
    top: 230px;
    display: inline-block;
    left: 35px;
    z-index: -9999999;
    border-top-right-radius: 97px;
    visibility: hidden;
}
.star-img{
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    background-position: top right;
}

/* Start 3rd section */
.cls-selling{
    text-align: center;
    font-family: 'Poppinns';
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}
.cls-destination{
    text-align: center;
    color: #14183E;
    font-size: 50px;
    font-weight: 700;
    margin: 8px 0px 60px 0px;
}

.basic-info {  
    box-shadow: 4px 7px 13px 9px #F5F5F5;
    margin-bottom: 31px;
    max-width: 314px;
    padding: 27px 26px 40px 20px;
    border-radius: 0px 0px 24px 24px;    
    background-color: white;
}

.price {
    gap: 120px;
    margin-bottom: 10px;
}
.price p{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #5E6282;
}
.trip {
    gap: 26px;
}
.dx{
    position: relative;
    z-index: 99999;
}

.fxx:last-child:hover:after{
    content: '';
    background-image: url(images/Spring.png);
    background-repeat: no-repeat;
    top: 130px;
    right: -63px;
    height: 380px;
    width: 120px;
    position: absolute;
    display: inline-block;
    z-index: -11;
} 

/* Start 4th section */
.easy{
    color: #5E6282;
    font-size: 18px;
    font-family: 'Poppinns';
    font-weight: 600;
}
.cls-book{
    color: #14183E;
    font-size: 50px;
    font-weight: 700;
    margin: 15px 0px 31px 0px;
}
.ddd h3{
    color: #5E6282;
    font-size: 16px;
    font-family: 'Poppinns';
    font-weight: 700;
}
.ddd p{
    color: #5E6282;
    font-size: 16px;
    font-family: 'Poppinns';
    font-weight: 400;
}
.bx-shdw{
    position: relative;
    box-shadow: 4px 7px 13px 9px #F5F5F5;
    max-width: 373px;
    border-radius: 26px;
    margin-top: 100px;
    padding: 20px 24px 26px 25px ; 
}
.bx-shdw > img{
    width: 100%;

}
.bx-shdw h4{
    font-family: 'Poppins';
    font-size:18px ;
    font-weight: 500;
    color: #080809;
    padding: 26px 0px 13px 0px;
}
.bx-shdw p{
    font-family: 'Poppins';
    font-size:16px ;
    font-weight: 500;
    color: #84829A;
}
.trip-box {
    position: absolute;
    top:205px;
    right: -110px;
    padding: 13px 62px 7px 17px;
    border-radius: 18px;
    box-shadow: 1px 1px 1px 1px #F5F5F5;
    background-color: white;
}
.trip-cls p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #84829A;
}
.trip-cls h4{
    padding: 0px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #080809;
}
.trip-cls span{
    color: #8A79DF;
}
.trip-cls .complete{
    color: #080809;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
}
.progress .progress-bar-striped{
    background-color: #8A79DF;
}
/* 4th responsive */
@media (max-width:1450px){
    .easy{
        font-size: 18px;
    }
    .cls-book {
        font-size: 48px;
        margin: 13px 0px 28px 0px;
    }
    .ddd h3{
        font-size: 15px;
    }
    .ddd p{
        font-size: 15px;
    }
    .bx-shdw {
        max-width: 365px;
        border-radius: 23px;
        margin-top: 95px;
        padding: 18px 20px 24px 20px;
    }
    .bx-shdw h4{
        font-size:17px ;
        padding: 24px 0px 12px 0px;
    }
    .bx-shdw p{
        font-size:15px ;
       
    }
    .trip-box {
        top: 205px;
        right: -60px;
        padding: 10px 42px 8px 10px;
        border-radius: 18px;
    }
    .trip-cls p{
      
        font-size: 14px;
    }
    .trip-cls h4{
      
        font-size: 17px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 14px;
    }

}

 @media (max-width:1280px){
    .easy{
        font-size: 17px;
    }
    .cls-book {
        font-size: 46px;
        margin: 12px 0px 25px 0px;
    }
    .ddd h3{
        font-size: 14px;
    }
    .ddd p{
        font-size: 14px;
    }
    .bx-shdw {
        max-width: 355px;
        border-radius: 23px;
        margin-top: 88px;
        padding: 16px 18px 19px 15px;
    }
    .bx-shdw h4{
        font-size:17px ;
        padding: 23px 0px 11px 0px;
    }
    .bx-shdw p{
        font-size:15px ;
       
    }
    .trip-box {
        top: 177px;
        right: -93px;
        padding: 7px 37px 6px 12px;
        border-radius: 17px;
    }
    .trip-cls p{
        font-size: 14px;
    }
    .trip-cls h4{
        font-size: 17px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 14px;
    }

}  
@media (max-width:1024px){
    .easy{
        font-size: 15px;
    }
    .cls-book {
        font-size: 42px;
        margin: 10px 0px 22px 0px;
    }
    .ddd h3{
        font-size: 14px;
    }
    .ddd p{
        font-size: 13px;
    }
    
    .flex-box{
        display: flex;
        justify-content: center;
    }
    .bx-shdw {
        max-width: 325px;
        border-radius: 20px;
        margin-top: 80px;
        padding: 16px 18px 19px 15px;
    }
    .bx-shdw h4{
        font-size:16px ;
        padding: 23px 0px 11px 0px;
    }
    .bx-shdw p{
        font-size:15px ;
       
    }
    .trip-box {
        top: 170px;
        right: -65px;
        padding: 8px 12px 7px 11px;
        border-radius: 15px;
    }
    .trip-cls p{
        font-size: 13px;
    }
    .trip-cls h4{
        font-size: 15px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 14px;
    }

} 

@media (max-width:980px){
    .easy{
        font-size: 15px;
    }
    .cls-book {
        font-size: 42px;
        margin: 10px 0px 22px 0px;
    }
    .ddd h3{
        font-size: 14px;
    }
    .ddd p{
        font-size: 13px;
    }
    .bx-shdw {
        border: 2px solid red;
        max-width: 325px;
        border-radius: 20px;
        margin-top: 80px;
        padding: 16px 18px 19px 15px;
    }
    .bx-shdw h4{
        font-size:16px ;
        padding: 23px 0px 11px 0px;
    }
    .bx-shdw p{
        font-size:15px ;
       
    }
    .trip-box {
        top: 185px;
        right: -55px;
        padding: 8px 12px 7px 11px;
        border-radius: 15px;
    }
    .trip-cls p{
        font-size: 12px;
    }
    .trip-cls h4{
        font-size: 13px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 12px;
    }

} 

@media (max-width:780px){
    .easy{
        font-size: 15px;
    }
    .cls-book {
        font-size: 36px;
        margin: 10px 0px 20px 0px;
    }
    .ddd h3{
        font-size: 14px;
    }
    .ddd p{
        font-size: 13px;
    }
    .bx-shdw {
        border: 2px solid red;
        max-width: 325px;
        border-radius: 20px;
        margin-top: 80px;
        padding: 16px 18px 19px 15px;
    }
    .bx-shdw h4{
        font-size:14px ;
        padding: 23px 0px 11px 0px;
    }
    .bx-shdw p{
        font-size:13px ;
       
    }
    .trip-box {
        top: 185px;
        right: -55px;
        padding: 8px 12px 7px 11px;
        border-radius: 15px;
    }
    .trip-cls p{
        font-size: 11px;
    }
    .trip-cls h4{
        font-size: 12px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 12px;
    }

} 

@media (max-width:480px){
    .easy{
        font-size: 15px;
    }
    .cls-book {
        font-size: 32px;
        margin: 10px 0px 20px 0px;
    }
    .ddd h3{
        font-size: 14px;
    }
    .ddd p{
        font-size: 13px;
    }
    .bx-shdw {
        border: 2px solid red;
        max-width: 300px;
        border-radius: 15px;
        margin-top: 50px;
        padding: 12px 12px 12px 12px;
    }
    .bx-shdw h4{
        font-size:13px ;
        padding: 16px 0px 7px 0px;
    }
    .bx-shdw p{
        font-size:13px ;
       
    }
    .trip-box {
        top: 165px;
        right: -34px;
        padding: 10px 10px 9px 5px;
        border-radius: 10px;
    }
    .trip-cls p{
        font-size: 9px;
    }
    .trip-cls h4{
        font-size: 10px;
        padding: 0px;
      
    }
    .trip-cls .complete{
        font-size: 10px;
    }

} 

/* start 5th sec */
.testimonials h6{
    font-family: 'Poppins';
    font-size: 18px;
   font-weight: 600;
    color: #5E6282;
}
.testimonials h2{
    font-size: 50px;
    font-weight: 700;
    color: #14183E;
}
.window p{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #5E6282;
}
.window{
    box-shadow: 4px 7px 13px 9px #F5F5F5;
    padding: 28px 60px 30px 24px;
    border-radius: 10px;
}
/* end 5th sec */

/* start 6th sec */

.company-img .hr :hover{
    box-shadow: 4px 7px 13px 9px #F5F5F5;
    border-radius: 10px;
    padding: 10px 15px;
}
.company-img{
    margin: 95px 0px 110px 0px;
}
@media (max-width:500px) {
    .hr{
        flex-direction: column;
    }
    .company-img .hr img:last-child{
        padding: 50px 20px;
        /* border: 2px solid red; */
    }

}
/* start 7th sec */
.subsribe{
    position: relative;
    margin-bottom: 124px;
}
.bgg-img{
    background-image: url('images/Slice 4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.info-heading{
    font-family: 'Poppins';
    font-size: 33px;
    font-weight: 600;
    color: #5E6282;
    text-align: center;
    max-width: 870px;
    margin: 0 auto;
    line-height: 46px;
    padding: 70px 0px 70px 0px;
}
.pos-check{
    position: relative;
}
.img-pos{
    position: absolute;
    right: -28px;
    top: -18px;
}
.btn{
    background-color: #FF7D68;
    padding: 22px 50px;
    border-radius: 10px;
    color: #ffffff;
}
.pad-bot{
    padding-bottom: 76px;
}
.stars{
    position: absolute;
    bottom: -60px;
    right: 197px;
}

/* 7th responsive */

@media (max-width:1450px) {
    
.info-heading{
    font-size: 31px;
    max-width: 780px;
    line-height: 46px;
    padding: 60px 0px 60px 0px;
}

.img-pos{
    position: absolute;
    right: -240px;
    top: -18px;
}
.btn{
    padding: 20px 45px;

}
.pad-bot{
    padding-bottom: 70px;
}
.stars{
    bottom: -60px;
    right: 220px;
}

}

@media (max-width:1280px) {
    
    .info-heading{
        font-size: 28px;
        max-width: 750px;
        line-height: 40px;
        padding: 50px 0px 50px 0px;
    }
    
    .img-pos{
        right: -200px;
        top: -30px;
    }
    .btn{
        padding: 19px 40px;
    
    }
    .pad-bot{
        padding-bottom: 60px;
    }
    .stars{
        bottom: -60px;
        right: 230px;
    }
}
@media (max-width:1024px) {
    
    .info-heading{
        font-size: 25px;
        max-width: 700px;
        line-height: 35px;
        padding: 45px 0px 45px 0px;
    }
    
    .img-pos{
        right: -175px;
        top: -30px;
    }
    .btn{
        padding: 18px 35px;
    
    }
    .pad-bot{
        padding-bottom: 55px;
    }
    .stars{
        bottom: -60px;
        right: 160px;
    }  
}
    @media (max-width:980px) {
        .info-heading{
            font-size: 22px;
            max-width: 545px;
            line-height: 30px;
            padding: 40px 0px 40px 0px;
        }
        
        .img-pos {
            right: -160px;
            top: -36px;
        }
        .btn{
            padding: 18px 30px;
        
        }
        .pad-bot{
            padding-bottom: 50px;
        }
        .stars{
            bottom: -60px;
            right: 120px;
        }  
}

@media (max-width:780px) {
    .info-heading{
        font-size: 20px;
        max-width: 500px;
        line-height: 30px;
        padding: 35px 0px 35px 0px;
    }
    
    .img-pos{
        right: -120px;
        top: -36px;
    }
    .btn{
        padding: 16px 25px;
    
    }
    .pad-bot{
        padding-bottom: 45px;
    }
    .stars{
        bottom: -60px;
        right: 120px;
    }  
}

@media (max-width:480px) {
    .info-heading{
        font-size: 16px;
        max-width: 400px;
        line-height: 30px;
        padding: 30px 0px 30px 0px;
    }
    
    .img-pos{
        right: -25px;
        top: -36px;
    }
    .btn{
        padding: 14px 20px;
    
    }
    .pad-bot{
        padding-bottom: 40px;
    }
    .stars{
        bottom: -60px;
        right: -50px;
    }  
}
/* footer */
.ft-sec p{
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #5E6282;
    margin-top: 20px;
}
.ft-heading{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 21px;
    color: #080809;
    margin-bottom: 34px;
}
.ft-content ul{
    list-style: none;
    padding: 0;
}
.ft-content ul li a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    color: #5E6282;
}
.ft-content ul li{
    margin-bottom: 15px;
}
.cpyright p{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #5E6282;
    padding: 60px 0px 80px 0px ;
}
